*{
    margin: 0;
    padding: 0;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }

#navbarSite{
    min-height: 80px;
    background-color: #1b4c8b;
}

#navbarSite ul a{
    font-weight:600;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-decoration:none;
    transition: 0.3s;

    padding: 10px 25px;
    border-radius: 5px;
}

#navbarSite ul a:hover{
    color: rgb(182, 182, 182);
    background-color: #12325d;
}

.logo {
    font-weight:600;
    color: white;
    text-decoration:none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo:hover{
    color: rgb(182, 182, 182);
}

main {
    position: relative;
    top: 80px;
    background: url("../img/bg.png") no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 80px);
}



.principal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    
}

.descricao{
    background-color: rgba(43, 124, 230, 0.800);
    width: 40%;
    height:auto;
    min-height: 350px;
    margin:30px;
    padding: 30px;
    border-radius: 5px;
    text-align:justify;
    font-size: large;
}

.descricao h1{
    text-align:center;
}

.login{
    background-color: rgba(43, 124, 230, 0.800);
    width: 40%;
    height:auto;
    min-height: 350px;
    margin:30px;
    padding: 30px;
    border-radius: 5px;
    text-align:center;
}

input, select, textarea{
    font-size: 16px;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 8px;
    transition: 180ms box-shadow ease-in-out;

    width: 85%;
    height: 35px;
}

textarea{
    height: 200px;
}

input:focus, select:focus, textarea:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
            40%), 0.8);
    outline: 3px solid transparent;
  }

#botao{
    border: none;
    cursor: pointer;
    background-color: #1f3ba0;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 15ch;
    min-height: 40px;
  }

#botao:hover{
    background-color: #172b75;
  }


.conteudo {
    background-color: rgba(43, 124, 230, 0.800);
    width: 70vw;
    height:auto;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

form {
    text-align: center;
    width: 80%;
    margin: auto;
}

form label {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 5px 0 10px 0;
}


.contato {
    display: inline-block;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}
.contato span {
    line-height: 30px;
    float: left;
    color: #fff;
}
.contato img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media (max-width: 992px){
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    .descricao, .login{
        font-size: small;
        width: 80%;
        height: 40vh;
        min-height: 200px;
    }

    input, select, textarea{
        width: 100%;
    }
}
